<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Vehicles</title>
</head>
<body>
    <h1>All Vehicles</h1>
    <% for(let vehicle of vehicles){ %>
    <div>
           <ul>
            <li>Name of Vehicle-<%=vehicle.name%></li>
            <li>Registration Number-<%=vehicle.registration%> </li>
            <li>Isassigned-<%=vehicle.isassigned%> </li>
               <li>Vehicle Category-<%=vehicle.category%> </li>
           </ul>
    <a href="/vehicles/<%=vehicle._id%>">Vehicle Detail</a> 
    <!--Assign/Unassign anchor tag-->
     <!--conditional tag-->
    <p><a href="/vehicles/<%=vehicle._id%>/assign">Assign Vehicle</a></p> 
    <p><a href="/vehicles/<%=vehicle._id%>/unassign">UnAssign Vehicle</a></p>
    </div>
    <% } %>
    <p> <div><a href="/">Back to home</a>

        <div><a href="/vehicles/new">Add a vehicle</a></div>
    </div>  </p>
   
   
</body>
</html>