<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Details</title>
</head>
<body>
    <h1>Vehicle Details</h1>
    <ul>
        <li>Name of Vehicle-<%=vehicle.name%></li>
        <li>Registration Number-<%=vehicle.registration%> </li>
        <li>Isassigned-<%=vehicle.isassigned%> </li>
        <li>Total Kilometers Travelled by Vehicle-<%=vehicle.totalkilom%></li>

    </ul>
    <a href="/vehicles/<%=vehicle._id%>/fuels/new">Add a fuel</a> <!--this should be at the time of assignment maybe-->
    <a href="/vehicles/<%=vehicle._id%>/fuels">View fuel log</a>  <!--will provide a link at home page also for fuel log-->
  <!-- <p><a href="/vehicles/<%=vehicle._id%>/assign">Assign Vehicle</a></p> --> <!--remove from here-->
   <p><a href="/vehicles">Back to Vehicle list</a></p> 
    <!--<p><a href="/vehicles/<%=vehicle._id%>/unassign">UnAssign Vehicle</a></p>-->  <!--remove from here-->
</body>
</html>